
*.properties
hamburgueria-backend-main/hamburgueria-backend/.classpath
hamburgueria-backend-main/hamburgueria-backend/.project
hamburgueria-backend-main/hamburgueria-backend/.settings/org.eclipse.core.resources.prefs
hamburgueria-backend-main/hamburgueria-backend/.settings/org.eclipse.jdt.apt.core.prefs
hamburgueria-backend-main/hamburgueria-backend/.settings/org.eclipse.jdt.core.prefs
hamburgueria-backend-main/hamburgueria-backend/.settings/org.eclipse.m2e.core.prefs
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/MANIFEST.MF
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/maven/com.hamburgueria/hamburgueria-backend/pom.properties
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/maven/com.hamburgueria/hamburgueria-backend/pom.properties
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/MANIFEST.MF
hamburgueria-backend-main/hamburgueria-backend/.settings/org.springframework.ide.eclipse.prefs
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/MANIFEST.MF
hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/maven/com.hamburgueria/hamburgueria-backend/pom.properties
*.properties
/hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF
/hamburgueria-backend-main/hamburgueria-backend/target/classes/META-INF/maven/com.hamburgueria/hamburgueria-backend
*.class
*.MF
*.properties
*.class

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/src/main/resources/application.properties
/bin/
pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### Eclipse ###
.metadata/
src/main/resources/application.properties
*.txt